<!-- templates/analyse.tmpl -->
<html>
<script charset="utf-8" src="js/home.js"></script>
<body>
    <p>线上打卡系统</p>
    <font size="3" color="black">输入你的名字</font>
    <input type="text" id="name" />
    <br>
    <input type="button" value="点击上班" onclick=javascript:sign()>
    <input type="button" value="点击下班" onclick=javascript:leave()>
    <br>
    <font size="3" color="black">签到记录（签到才可查看）</font>
    <br>
    <textarea id="showBox" rows="10" cols="255"></textarea>
    <br>
</body>
</html>